html, body {
    margin: 0;
    overflow: hidden;
    --gray: #888;
    --lightgray: #ccc;
    --lightlightgray: #eee;
	--ubuntupurple: #300a24;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--lightlightgray);
    font-family: "Roboto Mono", monospace;
}


/* BACKGROUND */
.background {
	position: absolute;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.75;
    z-index: -1;
}

.back0 {
    background-image: url("../images/background/shanghai-skyline-night-2160p.png");
}

.back1 {
    background-image: url("../images/background/golden-gate-long-exposure-cropped.jpg");
}


/* CONTENT */
.headshot {
    clip-path: circle(50% at 50% 50%);
}

.caption {
	font-family: "VT323", monospace;
    display: flex;
    flex-direction: column;
    background-color: var(--lightgray);
    opacity: 0.7;
    padding: 0.5em;
    border: var(--lightgray);
    border-radius: 5px;
    text-align: center;
    margin: 0;
}

.caption p {
	margin: 0 5vmin;
	padding: 0;
	font-size: 5.1vmin;
}

.text-wrapper {
	background-color: var(--gray);
	/* background-color: var(--ubuntupurple); */
	opacity: 0.75;
	color: black;
	padding: 1em;
	border: var(--gray);
	border-radius: 5px;
	max-width: 80%;
}

.description p, .description ul {
	margin: 0;
}

.description p {
	margin: 0;
	padding-bottom: 1em;
}

.description ul {
	list-style-type: square;
}

.content {
    display: flex;
}
.preview, .description {
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview {
    flex: 2;
}
.description {
    flex: 3;
}


/* MEDIA QUERIES */
@media only screen and (orientation:landscape) {
    .back0 {
        clip-path: polygon(0 0, 85% 0, 15% 100%, 0% 100%);
    }
    .back1 {
        clip-path: polygon(85% 0, 100% 0, 100% 100%, 15% 100%);
    }
    .preview, .description {
        flex-direction: column;
    }
    .headshot {
        width: 30vh;
        margin-bottom: 5%;
    }
	.text-wrapper {
		font-size: 2.2vmin;
	}
}

@media only screen and (orientation:portrait) {
    .back0 {
        background-position: 35% center;
        clip-path: polygon(0 0, 100% 0, 100% 10%, 0 90%);
    }
    .back1 {
        background-position: 80% center;
        clip-path: polygon(100% 10%, 100% 100%, 0 100%, 0 90%);
    }
    .content {
        flex-direction: column;
    }
    .headshot {
        width: 35vw;
        margin-right: 5%;
    }
	.text-wrapper {
		font-size: 3vmin;
	}
}

/* font-size of .text-wrapper overflows for tablet (near-one aspect ratio) devices in portrait mode */
/* @media only screen and (min-aspect-ratio:0.7) and (max-aspect-ratio: 1.4) { */
@media only screen and (orientation:portrait) and (min-aspect-ratio:7/10) {
	.text-wrapper {
		font-size: 2vmax;
	}
}