html,
body {
	margin: 0;
    --lightlightgray: #eee;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: var(--lightlightgray);
	font-family: "nova mono", monospace;
}

.content {
	display: flex;
	justify-content: center;
}

.content p {
	/* display: block; */
	/* text-align: center; */
	margin: 0;
}

.content span {
	position: relative;
	bottom: 8px;	/* align text with bullet point icons */
}

.contacts {
	margin-top: 30px;
	padding: 10px;
}

@media only screen and (max-device-width: 1024px) {
	div.contacts {
		font-size: 2vmax; /* scalable navigation bar  */
	}
}
