html,
body {
	margin: 0;
    --lightlightgray: #eee;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: var(--lightlightgray);
	font-family: "nova mono", monospace;
}

.content {
	display: flex;
	justify-content: center;
}

.contacts p {
	margin: 0;
}

.contacts span {
	position: relative;
    /* align text with bullet point icons */
	bottom: 0.3em;
}

.contacts {
	margin-top: 2em;
	padding: 1em;
}

.contacts img {
    height: 1.2em;
    width: 1.2em;
}

@media only screen and (max-device-width: 1024px) {
	.contacts {
		font-size: 2vmax;
	}
    .contacts img {
        height: 2vmax;
        width: 2vmax;
    }
    .contacts span {
        /* align text with bullet point icons */
        bottom: 0.4vmax;
    }
}
