html, body {
	--darkdarkgray: #222222;
	--darkgray: #333333;
    --white: #fff;
}

/* NAVIGATION */
.navbar {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	background-color: var(--darkdarkgray);
	overflow: hidden;
}

.navbar a {
	font-family: "Roboto Mono", monospace;
    font-size: 1.2vmax;
    margin: 0.4vmax 0.2vmax;
	color: var(--darkdarkgray);
	padding: 5px;
	opacity: 0.8;
	background-color: var(--white);
	cursor: pointer;
}

@media only screen and (max-device-width: 1024px) {
	.navbar a {
        font-size: 3.3vmin;
	}
}

.navbar a:hover {
	opacity: 1;
}

.navbar span {
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.navbar span::after {
	transition: 0.5s;
	content: ' \00bb';
	opacity: 0;	/* hide arrow */
	position: absolute;
	top: 0;
	right: -20px;
}

.navbar a:hover span {
	padding-right: 15px;
}

.navbar a:hover span::after {
	opacity: 1; /* show arrow */
	right: 0;
}