html, body {
	--darkdarkgray: #222;
	--darkgray: #333;
    --lightgray: #ccc;
    --white: #fff;
}

/* NAVIGATION */
.navbar {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	background-color: var(--darkdarkgray);
	overflow: hidden;
}

.navbar .text {
	font-family: "Roboto Mono", monospace;
    font-size: 1.2vmax;
}

.navbar .nav-element {
    margin: 0.4vmax 0.2vmax;
	padding: 5px;
	cursor: pointer;
}

.navbar .hoverable {
	color: var(--darkdarkgray);
	background-color: var(--lightgray);
}
.navbar .hoverable:hover {
	background-color: var(--white);
}

.navbar .expanding {
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.navbar .expanding::after {
	transition: 0.5s;
	content: ' \00bb';
	opacity: 0;	/* hide arrow */
	position: absolute;
	top: 0;
	right: -20px;
}

.navbar .hoverable:hover .expanding {
	padding-right: 15px;
}

.navbar .hoverable:hover .expanding::after {
	opacity: 1; /* show arrow */
	right: 0;
}

@media only screen and (max-device-width: 1024px) {
	.navbar .text {
        font-size: 3.3vmin;
	}
}
