html,
body {
	--lightlightgray: #eee;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    margin: 0;
    /* http://bit.ly/1Mn35US */
    /* flex: <flex-grow> <flex-shrink> <flex-basis> */
    flex: 1 0 auto;
}

footer {
	background-color: var(--lightlightgray);
	width: 100%;
    /* keeps copyright logo inside footer... for some reason :/// */
    position: relative;
    overflow: hidden;
}

.copyright {
    font-family: "Roboto Mono", monospace;
    position: absolute;
    bottom: 0.25em;
    left: 0.25em;
    font-size: 0.5em;
}

.social {
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin: 0;
    padding: 0;
}

.social li {
    /* this centers the anchors... for some reason :/// */
    display: flex;
}

.social a {
	position: relative;
    font-size: 0;
}

.social a:active {
	top: 2px;
}

.social img {
    height: 3vmax;
    width: 3vmax;
    margin: 0.3vmax 1vmax;
}

@media only screen and (max-device-width: 1024px) {
    .social img {
        height: 9vmin;
        width: 9vmin;
        margin: 0.9vmin 2vmin;
    }
}